*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* background-color: #f5efef; */
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}
/* button{
  background: rgb(29,1,106);
  background: linear-gradient(90deg, rgba(29,1,106,1) 0%, rgba(3,8,70,1) 57%);
} */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&family=Cookie&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Josefin+Sans:ital@0;1&family=Pacifico&family=Roboto&family=Russo+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,900&display=swap');